h1 {
  color: #3a6351;
  border-spacing: 15px;
}

h3 {
  color: #3a6351;
}

body{
  background-color:#f2edd7;
}

img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
hr{
  width: 5%;
  border-color: #3a6351;
  border-style:None;
  border-top-style: dotted;
  border-width: 5px;
}
table{
  border-spacing: 15px;
}
